body {
  display:flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin:0;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  border-color: pink;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
